.App {
  text-align: center;
  font-family: Chalkduster, fantasy;
}

body {
  background-color: #a5e0f1;
  }

.view{
  border-style: solid;
  margin-top: 15rem;
  margin-left: 25rem;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px #aaaaaa;
  width: 50%;
  color: rgb(234, 127, 51);
}

input {
  height: 40px;
  font-size: 20px;
  background-color: rgb(234, 127, 51);
  color: white;
}

input {
  transition: width 0.4s ease-in-out;
}

input:focus {
  width: 80%;
}

button{
  background-color:  white;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
}

button:hover{
  background-color: rgb(251, 74, 74);
}

hr{
  border-width: 0px;
  width: 80%;
  border-bottom: 2px solid white;
}

li{
  list-style-type:none;
}